 *{
    font-family: 'Inter', sans-serif;
 }
 
 #photo { 
     padding: 4px; 
     width: 400px;
     height: 200px;

     margin: 5px;

     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;


} 

.icon{
    margin-left: 35px;
    height: 60px;
}

header{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: #5b3b8e;

    width: 800px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#output-p{
    width: 25px;
    border: none;

    display: flex;
    text-align: center
}

.preview-container, .output-container{
    margin: 40px;

}

#slider{
    /* width: 45px; */
    height: 15px; 
    background-color: #5b3b8e;
    border-radius: 8px;
}

.range-container{
   width: 100px;
   height: 15px;
   border-radius: 8px;

   margin-right: 10px;
}

.titles{
    font-size: 30px;
}
 
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#blank { 
    /* border: 1px solid black;  */
    padding: 4px; 
    width: 400px;
    height: 200px;
    margin: 5px;
} 

.disappear{
    border: none; 
    display: none
}

#output{
    width: 100%;
}
